In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn import svm
from sklearn.metrics import accuracy_score

Dataset Collection

In [5]:
diabetes_dataset = pd.read_csv("diabetes.csv")

In [6]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
diabetes_dataset.shape

(768, 9)

In [8]:
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
diabetes_dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0--> Non-Diabetic
1--> Diabetic

In [12]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# seperating data and labels

In [13]:
X = diabetes_dataset.drop(columns=['Outcome'],axis=1)
y = diabetes_dataset['Outcome']

In [14]:
X.shape,y.shape

((768, 8), (768,))

In [15]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [16]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

# Splitting data in train and test

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [18]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(614, 8) (154, 8) (614,) (154,)

# DATA STANDARDIZATION

In [19]:
scaler= StandardScaler()

In [20]:
standardized_data_X_train=scaler.fit_transform(X_train)

In [21]:
print(standardized_data_X_train)

[[-1.13796489 -0.07971099 -3.5556072  ...  0.02825037 -0.98159708
  -0.7885233 ]
 [ 0.64067858 -0.52091877  0.02549599 ... -0.17184452 -1.03823795
   0.31879426]
 [-0.84152431  2.12632792 -0.48609018 ... -0.25938604 -0.21545477
   2.19271628]
 ...
 [ 2.12288146 -1.15121561  0.23013046 ... -0.25938604 -0.50760242
   0.14843771]
 [ 0.04779742 -0.30031488  0.43476492 ...  0.90366551 -0.69839272
   0.40397253]
 [-1.13796489 -1.11970076 -0.07682125 ...  0.45345201 -0.69243053
  -0.70334503]]

In [22]:
X_train= standardized_data_X_train

In [23]:
#for X_test

In [24]:
standardized_data_X_test = scaler.fit_transform(X_test)

In [25]:
print(standardized_data_X_test)

[[-0.26025747 -0.37815374  0.24284136 ... -0.74416577 -0.86623363
  -0.52324347]
 [-0.26025747 -0.16405199 -1.27694376 ... -1.20681739 -1.08018452
  -0.94690011]
 [ 0.33794627  0.8758708   0.5685096  ...  0.33081888 -0.83110736
   2.69654703]
 ...
 [-0.55935935 -0.25580988  0.35139744 ...  0.15392267  0.70167516
  -0.52324347]
 [-0.55935935 -1.14280285  0.24284136 ... -0.15904754  0.21948732
  -0.69270612]
 [ 2.73076126 -0.37815374  0.24284136 ...  0.7254335  -0.95883924
   1.00192045]]

In [26]:
X_test = standardized_data_X_test

In [27]:
print(X_train)

[[-1.13796489 -0.07971099 -3.5556072  ...  0.02825037 -0.98159708
  -0.7885233 ]
 [ 0.64067858 -0.52091877  0.02549599 ... -0.17184452 -1.03823795
   0.31879426]
 [-0.84152431  2.12632792 -0.48609018 ... -0.25938604 -0.21545477
   2.19271628]
 ...
 [ 2.12288146 -1.15121561  0.23013046 ... -0.25938604 -0.50760242
   0.14843771]
 [ 0.04779742 -0.30031488  0.43476492 ...  0.90366551 -0.69839272
   0.40397253]
 [-1.13796489 -1.11970076 -0.07682125 ...  0.45345201 -0.69243053
  -0.70334503]]

In [28]:
print(X_test)

[[-0.26025747 -0.37815374  0.24284136 ... -0.74416577 -0.86623363
  -0.52324347]
 [-0.26025747 -0.16405199 -1.27694376 ... -1.20681739 -1.08018452
  -0.94690011]
 [ 0.33794627  0.8758708   0.5685096  ...  0.33081888 -0.83110736
   2.69654703]
 ...
 [-0.55935935 -0.25580988  0.35139744 ...  0.15392267  0.70167516
  -0.52324347]
 [-0.55935935 -1.14280285  0.24284136 ... -0.15904754  0.21948732
  -0.69270612]
 [ 2.73076126 -0.37815374  0.24284136 ...  0.7254335  -0.95883924
   1.00192045]]

In [29]:
print(len(X_train),len(X_test))

614 154

# Training the model

In [30]:
classifier = svm.SVC(kernel='linear')

In [31]:
#training the support vector machine classifier
classifier.fit(X_train,y_train)

SVC(kernel='linear')

# Model Evaluation

In [32]:
y_pred_train = classifier.predict(X_train)

In [33]:
print("Accuracy for training data::",accuracy_score(y_train,y_pred_train))

Accuracy for training data:: 0.7866449511400652

In [34]:
y_pred_test = classifier.predict(X_test)

In [35]:
print("Accuracy for testing data::",accuracy_score(y_test,y_pred_test))

Accuracy for testing data:: 0.7532467532467533

# Predictive System to predict diabetes

In [37]:
input_data = (13,126,90,0,0,43.4,0.583,42)
# print(input_data)

# convert to a numpy array
input_data_as_nparray = np.asarray(input_data)

#reshape the array as we are predicting for 1 instance
input_data_reshaped = input_data_as_nparray.reshape(1,-1)

# standardize the input data
standard_data = scaler.transform(input_data_reshaped)
print(standard_data)

prediction = classifier.predict(standard_data)
print(prediction)

if(prediction[0]==0):
    print("Non-Diabetic example")
elif(prediction[0]==1):
    print("Diabetic example")

[[ 2.73076126  0.23356555  1.21984608 -1.2807743  -0.66543831  1.65073675
   0.33444601  0.74772647]]
[1]
Diabetic example